:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 100;

  color-scheme: light dark;
  color: rgba(230, 228, 228, 0.87);
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #adb0e0;
  text-decoration: inherit;
}
a:hover {
  color: #f0f1f5;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;

  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d3cece;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #01010be3;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #dde2e6;
    background-color: #ffffff;
  }
  a:hover {
    color: #040406;
  }
  button {
    background-color: #f9f9f9;
  }
}
